.App {
  margin-top: 60px;
  width: fit-content;
}

.profile_pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.globe_css {
  width: 10px;
}

.profile_header {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.prof_name {
  font-size: 20px;
  margin-left: 10px;
}

/* .prof_text {
  display: flex;
} */
.spon {
  margin-left: 10px;
}
